body {
  background: #222222;
  color: #636363;
  min-width: 350px;
  min-height: 150px;
  text-align: center;
  margin: auto;
}
h1  {
  margin-bottom: 1em;
}
p {
  margin-bottom: 5%;
  color: #99aab5;
}
#gpa {
  color:#ffffff;
  background-color:#7289da;
  height:100px;
  text-align:center;
  line-height:100px;
  width:250px;
  border-radius:25px;
  margin:0 auto;
  margin-top:10px;
}
